##
## Import directives
##
useDynLib(cccp)
import(RcppArmadillo)
importFrom(Rcpp, evalCpp)
import(methods)
import(Matrix)
import(numDeriv)
##
## Export of S4-classes
##
exportClasses(
    "CPD",
    "CPS",
    "CTRL",
    "DEFCP",
    "DEFLP",
    "DEFQP",
    "DEFNL",
    "KKTSLV",
    "PDV",
    "LNLV",
    "NLFV",
    "NLFC",
    "NLFS",
    "NNOV",
    "NNOC",
    "NNOS",
    "PSDV",
    "PSDC",
    "PSDS",
    "SOCV",
    "SOCC",
    "SOCS"
    )
##
## Export of Methods
##
exportMethods(
    "cps",
    "coerce",
    "dgap",
    "dobj",
    "gets",
    "getx",
    "gety",
    "getz",
    "initp",
    "kktRES",
    "kktSOL",
    "ntsc",
    "ntsu",
    "pobj",
    "rcent",
    "rdual",
    "rprim",
    "jdot",
    "jnrm2",
    "udot",
    "uinv",
    "umat",
    "umsa",
    "umss",
    "unrm2",
    "uone",
    "uprd",
    "uslb",
    "usnt",
    "uvec"
    )
##
## Export of functions
##
export(
    "cccp",
    "cpd",
    "cpl",
    "cpn",
    "ctrl",
    "kktSOLVE",
    "l1",
    "nlfc",
    "nnoc",
    "psdc",
    "socc",
    ## C++ functions
    ".sdot_nls",
    ".sdot_p",
    ".snrm2_nls",
    ".snrm2_p"
    )
